<div class="row">
                <div class="col-12">
                    <div class="chat-box-tray">
                        <i class="material-icons">sentiment_very_satisfied</i>
                        <input type="text" placeholder="Type your message here...">
                        <i class="material-icons">mic</i>
                        <i class="material-icons">send</i>
                    </div>
                </div>
            </div>