<div class="friend-drawer friend-drawer--onhover">
    <img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg" alt="">
    <div class="text">
        <h6>Robo Cop @rnd.Next()</h6>
        <p class="text-muted">Hey, you're arrested!</p>
    </div>
    <span class="time text-muted small">@rnd.Next(0,23):@rnd.Next(0,59)</span>
</div>

@code{
    Random rnd = new();
}