
        <div class="search-box">
            <div class="input-wrapper">
                <i class="material-icons">search</i>
                <input placeholder="Search here" type="text">
            </div>
        </div>