@page "/chat"

<PageTitle>
    Chat section
</PageTitle>

<HeadContent>
    <link rel="stylesheet" href="css/chat.css">
</HeadContent>

<div class="row no-gutters">
    <div class="col-md-4 border-right">
        <LeftSettingPanel />
        <SearchBox />
        <ChatList />
    </div>
    <div class="col-md-8">
        <RightSettingPanel />
        <div class="chat-panel">
            <MessageList />
            <ChatBox />
        </div>
    </div>
    <CoppyRightSection />
</div>