@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Index Page</PageTitle>

<h1>
    Hi there!
</h1>

<div>
    <ul>
        <li>
            <a href="/chat">Chat</a>
        </li>
    </ul>
</div>

@code {

}