<div class="col-md-12">
	<div class="coppy-right-tray text-center">
		<section>
		<p>
			Copyright (c) 2021 by Filip Rastovic <a href="https://codepen.io/FilipRastovic/pen/pXgqKK">(CodePen)</a>
		</p>
		</section>
	</div>
</div>